// Shine effect
@keyframes shine-to-right {
  10% {
    opacity: 1;
    left: -30%;
    transition-timing-function: ease;
  }

  100% {
    opacity: 0;
    left: -30%;
  }
}

// Shine effect
@keyframes shine-to-left {
  10% {
    opacity: 1;
    right: -30%;
    transition-timing-function: ease;
  }

  100% {
    opacity: 0;
    right: -30%;
  }
}
