<a routerLink="/">
  <div class="navigate-left">
    <fa-icon [icon]="faChevronCircleLeft" class="fa-5x"></fa-icon>
  </div>
</a>

<div class="radical-innovation w-100 vh-100">
  <div class="container vh-100 d-flex align-items-center">
    <div class="card offset-2 col-8">
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nihil
        optio, similique ipsum repudiandae totam, perferendis asperiores
        molestias modi at commodi voluptatum obcaecati officia molestiae
        corrupti veritatis aperiam. Assumenda, qui. Amet consectetur adipisicing
        elit. Nostrum nihil optio, similique ipsum repudiandae totam,
        perferendis asperiores molestias modi at commodi voluptatum obcaecati
        officia molestiae corrupti veritatis aperiam. Assumenda, qui.
      </div>
    </div>
  </div>
</div>

<a routerLink="/redical-innovation">
  <div class="navigate-right">
    <fa-icon [icon]="faChevronCircleRight" class="fa-5x"></fa-icon>
  </div>
</a>
