/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.css";

/* 
 * Did this to disable the scroll bar when navigating through pages.
 * Find a better way if this breaks something. 
*/
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
